h1 {
    color: #FF0000;
    
    }
    h1.logo {
    color: #FF0000;
    padding-top:275px;
    font-size:50pt;
    
    }

input.button{
background-color: #ffab88;
  border-color: #dbdbdb;
  border-width: 1px;
  border-radius: 10px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 165px;
  padding-right: 165px;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
   
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  }

body {
 background: url(fon2.jpg);
 
} 

td {
  color:#00FFFF;
}  
table.table{
font-size:30pt;
}
p.lg{
font-size:20pt;
color:#FFE4E1;
font-family: cursive;
}
h3{
color:#00FF00	;
font-family: initial;
}
div.list{
color:#00FFFF;
font-family: serif;
font-weight: 500;
}

h1.logo2{
color: #FF0000;
font-size:50pt;  
}
div.inf{
font-size:20pt;
color:#00FFFF;
}
p.search{
font-size:20pt;
color:#6495ED;
}
div.nbd{
font-size:20pt;
color:#6495ED;
}
input.btn1{
background-color: #ffab88;
  border-color: #dbdbdb;
  border-width: 1px;
  border-radius: 10px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left:50px;
  padding-right: 50px;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
   
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
input.btn_fld{
background-color: #D8BFD8;
border-color: #dbdbdb;
  border-width: 1px;
  border-radius: 10px;
  padding-left:50px;
  padding-right: 50px;
  
}
body.last{
 background: url(fon4.jpg);
}
h2{
color:white;
}
input.btn4{
background-color: #ffab88;
  border-color: #dbdbdb;
  border-width: 1px;
  border-radius: 10px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left:15px;
  padding-right: 15px;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
   
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
}
























































      

